<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>
<body>
    <a href="/">Index</a>
    <br>
    <form id="add_form" action="" method="POST">
        <input type="text" name="id" value = "id">
        <input type="text" name="type" value = "type">
        <input type="date" name="date" value = "date">
        <br>
        <input type="submit" name="submit" value = "submit">
    </form>
</body>
</html>